.graph {
    -fx-background-color: #E3E3E3;
}

.vertex-label {
    -fx-font: bold 11pt "sans-serif";
    -fx-fill: #1B3C53;
}

.edge-label {
    -fx-font: normal 9pt "sans-serif";
    -fx-fill: #555555;
}