.graph {
    -fx-background-image: url('/Images/graphSajoma.png');
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.vertex-label {
    -fx-font: bold 11pt "sans-serif";
    -fx-fill: #1B3C53;
}

.edge-label {
    -fx-font: normal 9pt "sans-serif";
    -fx-fill: #555555;
}


.arrow {
    -fx-stroke-width: 4;
    -fx-stroke: #CCCCCC;
    -fx-fill: transparent;
}

